@import url('https://fonts.googleapis.com/css?family=Lato:700');

#game {
	 border:2px 
	 solid #000000;
	 display: inline;
	 position: absolute;
	 border-radius: 10px;
	 font-family: 'Lato', sans-serif;
	 
}
